<!-- <form [formGroup]= "myForm" >
   <input type = "text" formControlName="name"><br>
   <input type= "text" formControlName="name2"><br>

    <button type="submit" (click) ="add()"> submit</button> 
</form> -->
<form [formGroup]="myForm">
<table>
   
        <thead>
            <tr>
                <th>welcoome</th>
                <th>name2</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let items of myarray;let i=index">
            <td> <input type="text" formControlName="name" [readonly]="valuereadonly" value={{items.name}}><br>
            </td>

            <td><input type="text" formControlName="name2" [readonly]="valuereadonly" value={{items.name2}}></td>
            <!-- <td>
                <select>
                    <option formControlName="data1">value1</option>
                    <option formControlName="data2">value2</option>
                </select>

            </td> -->
            <td>
                <button type="submit" (click)="add()"> submit</button></td>
            <td> <input type="button" value="edit" (click)="edit()"> </td>
            <td> <input type="button" value="delete" (click)="delete(i)"> </td>
        </tr>
    </tbody>
    

</table>
</form>

<div *ngFor ="let item of myarray;let i=index" class="div">
    <p>{{item.name}}
    </p>
    <p>{{item.name2}}
    </p>
</div>
<router-outlet></router-outlet>